/*Chamar no fxml*/

.root {
     -fx-background-color:  #238E68;
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: regular;
    -fx-text-fill: #238e68;
    -fx-font: Gill Sans MT;
}

/*Definir tamanho padrão para telas*/